<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classassessment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.classassessment.ExampleActivity"></activity>
        <activity android:name="com.example.classassessment.FlagAppActivity" />
        <activity android:name="com.example.classassessment.RetrofitEmpActivity" />
        <activity android:name="com.example.classassessment.UpdateActivity" />
        <activity android:name="com.example.classassessment.ShowStudentActivity" />
        <activity android:name="com.example.classassessment.DatabaseActivity" />
        <activity android:name="com.example.classassessment.ShuffleWordActivity" />
        <activity android:name="com.example.classassessment.ImplicitIntentActivity" />
        <activity android:name="com.example.classassessment.SharedPreActivity" />
        <activity android:name="com.example.classassessment.FileActivity" />
        <activity android:name="com.example.classassessment.ToolbarActivity" />
        <activity android:name="com.example.classassessment.TabbedActivity" />
        <activity android:name="com.example.classassessment.FragmentActivity" />
        <activity android:name="com.example.classassessment.SplashActivity" />
        <activity android:name="com.example.classassessment.RecyclerViewActivity" />
        <activity android:name="com.example.classassessment.UserDetailActivity" />
        <activity android:name="com.example.classassessment.UserListView" />
        <activity android:name="com.example.classassessment.FrameLayoutActivity" />
        <activity android:name="com.example.classassessment.TableLayoutActivity" />
        <activity android:name="com.example.classassessment.LayoutsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.classassessment.ShowActivity" />
        <activity android:name="com.example.classassessment.RegdataActivity" />
        <activity android:name="com.example.classassessment.TaskTwoActivity" />
        <activity android:name="com.example.classassessment.TaskThreeActivity" />
        <activity android:name="com.example.classassessment.TaskOneActivity" />
        <activity android:name="com.example.classassessment.RelativeActivity" />
        <activity android:name="com.example.classassessment.TaskFourActivity" />
        <activity android:name="com.example.classassessment.CalculatorActivity" />
        <activity android:name="com.example.classassessment.MainActivity" />
    </application>

</manifest>